.headline-news {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.headline h2 {
    font-size: 24px;
}

.author-info {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

.publish-date {
    margin-left: auto;
}

.image-container {
    text-align: center;
}

.headline-image {
    width: 90%;
    aspect-ratio: 3/2;
    margin-top: 20px;
}