.dropdown-content {
    position: absolute;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    grid-gap: 20px;
    top: 45px;
    padding: 20px 20px;
}

.dropdown-content>li {
    list-style-type: none;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.triangle {
    position: absolute;
    top: -10px;
    left: 68%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f9f9f9;
}