.dropdown-content {
    position: absolute;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    grid-gap: 20px;
    top: 40px;
    left: -10px;
    padding: 20px 20px;
    z-index: 1;
}

.dropdown-content>li {
    list-style-type: none;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}


.dropdown-content-remaining {
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    grid-gap: 20px;
    top: 40px;
    left: 0px;
    padding: 20px 20px;
    z-index: 1;
}

.dropdown-content-remaining>li {
    list-style-type: none;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.triangle {
    position: absolute;
    top: 30px;
    left: 20px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f9f9f9;
    z-index: 1;
}

.triangle-side {
    position: absolute;
    top: 25px;
    left: 8px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f9f9f9;
    z-index: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}


.tabs-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* default to 1 column */
    gap: 10px;
}

@media (min-width: 768px) {
    .tabs-container {
        grid-template-columns: repeat(2, 1fr);
        /* for medium screens, 2 columns */
    }
}

@media (min-width: 1024px) {
    .tabs-container {
        grid-template-columns: repeat(4, 1fr);
        /* for large screens, 3 columns */
    }
}

@media (min-width: 1400px) {
    .tabs-container {
        grid-template-columns: repeat(5, 1fr);
        /* for extra-large screens, 5 columns */
    }
}

.tab {
    padding: 5px 10px;
}